<section id="topSection">
    <section class="topSubSection">
        <div id="mainInfoSection">
            {{#each this.topArticle}}
                <div class="infoRow">
                    <h3 class="infoTitle">{{this.title}}:</h3>
                    <p class="infoContent">{{this.content}}</p>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="topSubSection">
        <div id="imageContainer"></div>
    </section>
</section>

<section id="stackSection">
    <h3>{{this.stackArticle.title}}</h3>

    {{#each this.stackArticle.content}}
        <div class="stackRow">
            <h4>{{title}}</h4>

            <div class="stackIconsContainer">
                {{#each content}}
                    <img class="stackIcon" title="{{this.title}}" src="{{this.icon}}" />
                {{/each}}
            </div>
        </div>
    {{/each}}
</section>

<section>
    <h3></h3>
</section>