<h2>Certificates</h2>

<div class="certificatesSection">
    {{#each certificates}}
        <h3>{{@key}}</h3>

        <div class="certificatesRow">
            {{#each this}}
                <div class="certificateContainer">
                    <img src="../../../assets/certificates/img/{{this}}_b.png" alt="{{this}}_certificate">
                    <img src="../../../assets/certificates/img/{{this}}_f.png" alt="{{this}}_certificate">
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>