{{!-- <img class="logo" src="./assets/gfx/img/roza2.png" alt=""> --}}
{{!-- <div class="languageBar">
    <button class="langsToggle">
        <svg width="93px" height="300px" viewBox="0 0 93 300">
            <polyline points="80,13 13,150 80,287" fill="none" stroke="white" stroke-width="16" stroke-lineCap="round" />
        </svg>
    </button>

    {{#each langs}}
        <div class="langIconContainer">
            <img class="langIcon" src="../../../assets/gfx/icons/langs/{{@key}}.svg" alt="{{@key}}_icon">
            <button class="langButton">{{@key}}</button>
        </div>
    {{/each}}
</div> --}}

<p class="headerGhostTitle">{{title}}</p>
<h1 class="headerTitle">{{title}}</h1>

<nav>
    <div class="navSections navSectionL">
        <p class="navSectionTitle">{{navL.title}}</p>

        <div class="linksContainer">
            {{#each navL.content}}
                <a href="{{@this}}" class="navLinks">{{@key}}</a>
            {{/each}}
        </div>
    </div>

    <div class="navSections navSectionM">
        <a href="/" class="navLinks navMain">{{main.title}}</a>
    </div>

    <div class="navSections navSectionR">
        <p class="navSectionTitle">{{navR.title}}</p>

        <div class="linksContainer">
            <a href="{{navR.content.Projects}}" class="navLinks">Projects</a>
            <a href="{{navR.content.GitHub}}" target="_blank" class="navLinks">GitHub</a>
        </div>
    </div>
</nav>

<hr class="hrTop">