<h2>{{projects.title}}</h2>

<section id="projectsSection">
    {{#each projects.content}}
        <div class="containerWrapper">
            <h4>{{this.title}}</h4>

            <div class="projectContainer">
                <img src="../../../assets/previews/{{this.img}}.png" alt="{{this.img}} screenshot">
                
                <div class="linksContainer">
                    <a target="_blank" href="{{this.url.content}}" data-route="ignore">
                        {{this.url.title}}
                        <img src="../../../assets/gfx/icons/shared/external_link.svg" alt="external link">
                    </a>

                    <a target="_blank" href="{{this.repo.content}}" data-route="ignore">
                        {{this.repo.title}}
                        <img src="../../../assets/gfx/icons/shared/external_link.svg" alt="external link">
                    </a>
                </div>

                <p class="description">{{this.description}}</p>
            </div>
        </div>
    {{/each }}
</section>